:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	--header-height: 4rem;
	--game-rules-width: 15rem;
	--game-rules-height: 10rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

section {
	/* border: 1px solid black; */
	padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.num-input {
	height: 2.4rem;
	border-radius: 0.5rem;
	border: 1px solid #aaa;
	padding: 0.5rem;
	outline: none;
}

.subheader {
	display: block;
	position: sticky;
	/* padding: 0.5rem 1rem 0; */
}

.subheader > h2 {
	font-size: 1.7rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
